.video-section {
    padding: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 100%; 
    max-width: 1200px; 
}

.video-container video {
    width: 100%;
    height: auto; 
    border-radius: 10px;
    display: block; 
}

.video-overlay-text {
    position: absolute;
    top: 5%; 
    left: 5%; 
    color: #fff;
    text-align: left;
    z-index: 10;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    max-width: 90%; 
    box-sizing: border-box; 
}

.video-overlay-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.video-overlay-text p {
    font-size: 16px;
}

/* Media Queries */
@media (max-width: 768px) {
    .video-section {
        padding: 20px; 
    }

    .video-container {
        width: 100%; 
    }

    .video-overlay-text {
        top: 5%;
        left: 5%;
        max-width: 90%; 
    }

    .video-overlay-text h2 {
        font-size: 24px; 
    }

    .video-overlay-text p {
        font-size: 14px; 
    }
}

@media (min-width: 768px) {
    .video-container {
        width: 80%; 
    }

    .video-overlay-text {
        top: 20px;
        left: 20px;
        max-width: 90%; 
    }
}